<!DOCTYPE html>
<html>
<head>
    <script src="{{url_for('static', filename='jquery-2.2.2.min.js')}}"></script>
    <script src="{{url_for('static', filename='leaflet/leaflet.js')}}"></script>
    <script src="{{url_for('static', filename='leaflet/leaflet.ChineseTmsProviders.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='leaflet/leaflet.css')}}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='app.css')}}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="shortcut icon" href="#"/>
</head>
<body>
    <div id="mapDiv" class="mapCss">
        <script src="{{url_for('static', filename='app.js')}}"></script>
    </div>
    <div id="contDiv" class="contCss">
        <div id="fileDiv" class="leftCss">
            <form action="" method="POST" enctype="multipart/form-data">
                <select id="provsel" name="province" class="leftCss">
                    <option value="">选择省份</option>
                    <option value="北京市">北京市</option>
                    <option value="天津市">天津市</option>
                    <option value="上海市">上海市</option>
                    <option value="重庆市">重庆市</option>
                    <option value="河北省">河北省</option>
                    <option value="山西省">山西省</option>
                    <option value="辽宁省">辽宁省</option>
                    <option value="吉林省">吉林省</option>
                    <option value="黑龙江省">黑龙江省</option>
                    <option value="江苏省">江苏省</option>
                    <option value="浙江省">浙江省</option>
                    <option value="安徽省">安徽省</option>
                    <option value="福建省">福建省</option>
                    <option value="江西省">江西省</option>
                    <option value="山东省">山东省</option>
                    <option value="河南省">河南省</option>
                    <option value="湖北省">湖北省</option>
                    <option value="湖南省">湖南省</option>
                    <option value="广东省">广东省</option>
                    <option value="海南省">海南省</option>
                    <option value="四川省">四川省</option>
                    <option value="贵州省">贵州省</option>
                    <option value="云南省">云南省</option>
                    <option value="陕西省">陕西省</option>
                    <option value="甘肃省">甘肃省</option>
                    <option value="青海省">青海省</option>
                    <option value="台湾省">台湾省</option>
                    <option value="内蒙古自治区">内蒙古自治区</option>
                    <option value="广西壮族自治区">广西壮族自治区</option>
                    <option value="西藏自治区">西藏自治区</option>
                    <option value="宁夏回族自治区">宁夏回族自治区</option>
                    <option value="新疆维吾尔自治区">新疆维吾尔自治区</option>
                    <option value="香港特别行政区">香港特别行政区</option>
                    <option value="澳门特别行政区">澳门特别行政区</option>
                </select>
                <input type="file" name="filename" value="选择文件" accept=".jpg, .png" class="leftCss">
                <input type="submit" name="submit" value="确定" class="leftCss">
            </form>
        </div>
        <div id="disDiv" class="rightCss">
            时间：
            <select id="distsel" class="selCss">
            {% for district in districts %}
                <option value="{{district.id}}">{{district.time}}</option>
            {% endfor %}
            </select>
        </div>
    </div>
</body>
