<!DOCTYPE html>
<html>
<head>
    <script src="{{url_for('static', filename='jquery-2.2.2.min.js')}}"></script>
    <script src="{{url_for('static', filename='leaflet/leaflet.js')}}"></script>
    <script src="{{url_for('static', filename='leaflet/leaflet.ChineseTmsProviders.js')}}"></script>
    <script src="{{url_for('static', filename='district.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='leaflet/leaflet.css')}}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='app.css')}}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="shortcut icon" href="#"/>
</head>
<body onload="getProvince()">
    <div id="mapDiv" class="mapCss">
        <script src="{{url_for('static', filename='app.js')}}"></script>
    </div>
    <div id="contDiv" class="contCss">
        <div id="fileDiv" class="leftCss">
            <form action="" method="POST" enctype="multipart/form-data">
                <select id="provsel" name="province" onchange="chooseProvince(this)" class="leftCss">
                    <option value="">选择省份</option>
                </select>
                <select id="citysel" name="city" class="leftCss">
                    <option value="">选择城市</option>
                </select>
                <input type="file" name="filename" value="选择文件" accept=".jpg, .png" class="leftCss">
                <input type="submit" name="submit" value="确定" class="leftCss">
            </form>
        </div>
        <div id="disDiv" class="rightCss">
            时间：
            <select id="daysel" class="selCss">
            {% for day in days %}
                <option value="{{day.id}}">{{day.time}}</option>
            {% endfor %}
            </select>
        </div>
    </div>
</body>
