<!DOCTYPE html>
<html>
<head>
    <script src="{{url_for('static', filename='jquery-2.2.2.min.js')}}"></script>
    <script src="{{url_for('static', filename='leaflet/leaflet.js')}}"></script>
    <script src="{{url_for('static', filename='leaflet/leaflet.ChineseTmsProviders.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='leaflet/leaflet.css')}}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='app.css')}}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="shortcut icon" href="#"/>
</head>
<body>
    <div id="mapDiv" class="mapCss">
        <script src="{{url_for('static', filename='app.js')}}"></script>
    </div>
    <div id="contDiv" class="contCss">
        <div id="fileDiv" class="leftCss">
            <form action="" method="POST" enctype="multipart/form-data">
                <input type="file" name="filename" value="选择文件" accept=".jpg, .png" class="leftCss">
                <input type="submit" name="submit" value="确定" class="leftCss">
            </form>
        </div>
        <div id="disDiv" class="rightCss">
            时间：
            <select id="distsel" class="selCss">
            {% for district in districts %}
                <option value="{{district.id}}">{{district.time}}</option>
            {% endfor %}
            </select>
        </div>
    </div>
</body>
